<section>
  <div class="container-pages-menu">
    <div>
      <button mat-button matTooltip="Página de usuário">
        <i class="bi bi-person-circle"></i>
      </button>
    </div>
    <div>
      <button mat-button>
        <i class="bi bi-question-circle"></i>
      </button>
    </div>
    <div>
      <button mat-button>
        <i class="bi bi-question-circle"></i>
      </button>
    </div>
    <div>
      <button mat-button>
        <i class="bi bi-question-circle"></i>
      </button>
    </div>
  </div>
</section>
