<mat-card
  class="d-flex justify-content-end p-1 flex-row align-items-center"
  style="gap: 1rem"
>
  <button
    mat-button
    class="container-nav-icon"
    matTooltip="Abrir menu de navegação"
    (click)="openMenuNav()"
  >
    <i class="bi bi-x-diamond-fill"></i>
  </button>
  <div class="container-user">
    <i class="bi bi-person-circle"></i>
    <span>{{ username }}#{{ user_id }}</span>
  </div>
  <button
    mat-button
    style="color: crimson"
    (click)="logout()"
    matTooltip="Retonar para a tela de login"
  >
    Sair
  </button>
</mat-card>
